<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Velocidad del audio -->
    <add key="AUDIO_VEL" value="0" />
    <!--Pausa por Hilo, 1000 = 1 s -->
    <add key="MULTIPROCESO_PAUSA" value="0" />
    <!-- Factor a utilizar para crear subprocesos, se aplica a la cantidad de nucleos de la maquina -->
    <add key="MULTIPROCESO_HABILITADO" value="0" />
    <!-- 1: Indica ejecutar con multiproceso, es decir, un hilo de ejecucion por nucleos del procesador; 0: Indica ejecutar en mono proceso, es decir, sólo un hilo de ejecuion  -->
    <add key="MULTIPROCESO_FACTOR" value="1" />
    <!-- En modo multiproceso, indica el multiplo a aplicar a la cantidad de nucleos, para obtener la cantidad de hilos a ejecutar en paralelo -->
    <!--Carpeta destino -->
    <add key="CARPETA_DESTINO" value="_DestinoAudios" />
	<!--Archivo origen -->
    <add key="ARCHIVO_ORIGEN" value="_data.txt" />
	<!--Tipo Texto -->
	<add key="TIPO_AUDIO" value="T" />
	  
	  
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>